.header {
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  text-align: center;
  color: white; 
  position:relative; /* Respect navbar position */
  margin-top: 7vh; /* Set top margin equal to navbar height */
  min-height: 30em;
  min-width: 34em;
  height:100%; /* Ensure header adjusts based on viewport height */
  width: 100%;
}

.header-content {
  max-width: 1000px;
  height: auto;
  width: auto;
  margin: 0 auto;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  border-radius: 10px;
}

.header-title {
  font-size: 3rem;
  margin: 0;
  font-weight: bold;
}

.header-description {
  font-size: 1.2rem;
  margin: 1rem 0;
}

.header-button {
  padding: 1rem 2rem;
  font-size: 1.1rem;
  background-color: #f39c12;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.header-button:hover {
  background-color: #e67e22; /* Darker yellow-orange on hover */
}

/* Optional Media Query for Mobile */
@media (max-width: 768px) {
  .header-title {
    font-size: 2rem;
  }

  .header-description {
    font-size: 1rem;
  }

  .header-button {
    font-size: 1rem;
  }
}