.header {
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  text-align: center;
  color: white; 
  position:absolute; /* Respect navbar position */
  min-width: 34em;
  min-height: 30em;
  height: 100vh; /* Ensure header adjusts based on viewport height */
  width: 100vw;
  background-repeat: no-repeat;
  background-position: center;
}

.header-content {
    text-align: center; /* Center text inside the content box */
    max-width: 1000px;
    background-color: rgba(0, 0, 0, 0.5); /*Add a semi-transparent background for better contrast */
    padding: 2rem; 
    border-radius: 10px; 
}

.header-title {
  font-size: 3rem;
  margin: 0;
  font-weight: bold;
}

.header-description {
  font-size: 1.2rem;
  margin: 1rem 0;
}

.header-button {
  padding: 1rem 2rem;
  font-size: 1.1rem;
  background-color: #f39c12;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.header-button:hover {
  background-color: #e67e22; /* Darker yellow-orange on hover */
}

/* Optional Media Query for Mobile */
@media (max-width: 768px) {
  .header-title {
    font-size: 2rem;
  }

  .header-description {
    font-size: 1rem;
  }

  .header-button {
    font-size: 1rem;
  }
}